:host {
  display: inline-block;
  --level: 0;        
}

#logo { width: 250px; height: 150px; }

.st0 {
  fill: none;
  stroke: #000;
  stroke-width: 4;
  stroke-miterlimit: 5;
}

#banner .fill {
  transform: translateY(calc(150px * (1 - var(--level) / 100)));
  transition: transform .6s ease;
}

#waveShape {
  animation: waveAction 2.5s linear infinite;
  width: 300px;
  height: 150px;
  fill: #04ACFF;
}

@keyframes waveAction {
  0%   { transform: translate(-150px, 0); }
  100% { transform: translate(0, 0); }
}
