/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f9f1f0;}

.mat-mdc-tab-body-wrapper {
    min-height: 420px; /* 依你的內容調整，例如 600~800px */
  }

//這段讓 Dialog 本體不要出現滾動條，而且高度可以超過原本的限制。!important強制覆蓋只能用我的這個樣式
  .cdk-overlay-pane.no-scroll .mat-mdc-dialog-surface {
    overflow-y: hidden !important;   
    overflow-x: hidden !important;   
    max-height: none !important;
  }

//這段的作用是 讓內文可以完整顯示，不被限制在一個固定高度的小框框裡，並且拿掉預設的 padding。
//visible不論內容有多大，都讓它顯示出來，不要裁切，也不要滾動條。
  .cdk-overlay-pane.no-scroll .mat-mdc-dialog-content {
    overflow: visible !important;
    max-height: none !important;
    padding: 0 !important;
  }

  //讓dailog可以自動縮放
  .cdk-overlay-pane.no-scroll .all-flex {
    min-height: auto !important;
  }

/* 只在 Dialog 開啟時，保險地關掉整頁水平捲軸 */
body.cdk-global-scrollblock { overflow-x: hidden !important; }

