
.notice-board {
  position: relative;
    max-width: 800px;
    margin: 40px auto;
    padding: 24px;
    background-color: transparent; 
    border-radius: 12px;         
    box-shadow: none;            
    font-family: 'Segoe UI', sans-serif;

  }
  /* 標題與新增按鈕區域 */
  .notice-header-bar {
    display: flex;
    flex-direction: column;  // 垂直排列
    align-items: center; 
    margin-bottom: 12px;

    padding-bottom: 12px;
  // 佔滿父容器寬度
 
  }

  .extra-line {
    border: none;
    height: 2px;
    background-color: #999;
    width: 470px;  
  }
  
  /* 標題樣式 */
  .notice-title {
    font-size: 28px;
    font-weight: bold;
    color: #3f51b5;
    margin: 0;
  }
  

  /* 單筆通知區塊 */
  .notice-item {
    border-left: 5px solid #3f51b5;
    background-color:  #e8edff  ;
    padding: 16px 20px;
    margin-top: 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .notice-item:hover {
    background-color: #3de2e840 ;
  }
  
  /* 通知標題與日期列 */
  .notice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
 
  }
  
  /* 日期文字 */
  .notice-date {
    font-size: 14px;
    color: #666;
  }
  
  /* 通知內容段落 */
  .notice-content {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin: 0;
  }
  ///////
  .notice-board {
    position: relative; /* 讓右上角按鈕以此容器為定位基準 */
  }
  
  .dialog-header {
    position: absolute;
    top: -20px;
    right: 0px;
  }
  
  .dialog-header button {
    border: none;         /* 移除邊框 */
    outline: none;        /* 移除點擊時的藍色外框 */
    box-shadow: none;     /* 移除陰影 */
    background: transparent; /* 背景透明 */
    cursor: pointer;
    padding: 0;           /* 移除額外內距 */
  }
  
  .dialog-header .mat-icon {
    font-size: 48px;  /* 調整大小 (預設 24px) */
    width: 50px;
    height: 50px;
    color: #555;      /* 預設顏色 */
  }
  
  .dialog-header .mat-icon:hover {
    color: #d32f2f;   /* hover 時變紅色 */
  }
  .plain-close {
    background: transparent; border: none; outline: none; padding: 0; cursor: pointer;
  }
  .plain-close mat-icon {
    font-size: 48px; width: 50px; height: 50px; color: #555;
  }
  .plain-close:hover mat-icon { color: #d32f2f; }
  